build/
packages/
.vs/
[Bb]in/
[Oo]bj/
/user.txt
/DevEx
*.pyc
/Docs

Consumer/Processor/Properties/PublishProfiles/akiotprocessor - Web Deploy.pubxml
Consumer/Processor/Properties/PublishProfiles/akiotprocessor - Web Deploy.pubxml.user
Consumer/UI/Properties/PublishProfiles/akiotprocessor - Web Deploy.pubxml
Consumer/UI/Properties/PublishProfiles/akiotprocessor - Web Deploy.pubxml.user
